2025-03-22 11:58:03,869 - INFO - seller_data_simulator.py - [
    {
        "seller_id": 9467,
        "seller_name": "Kelsey stewart",
        "seller_location": "South Kimland, Thailand"
    },
    {
        "seller_id": 7774,
        "seller_name": "Catherine jones",
        "seller_location": "Rebeccaport, Georgia"
    }
]
2025-03-22 11:58:03,869 - INFO - seller_data_simulator.py - 2027, Jennifer bell, East Jennifer, Armenia
2025-03-22 12:02:25,052 - INFO - product_data_simulator.py - [
    {
        "product_id": 2052441,
        "product_name": "Smart TV Something",
        "category": "Electronics",
        "brand": "Conrad, Hawkins and Adams",
        "price": 14397.97,
        "discount": 25,
        "stock_quantity": 53,
        "stock_status": "In Stock",
        "color": "Black",
        "size": "Medium",
        "weight": "1.06 kg",
        "material": "Cotton",
        "rating": 4.7,
        "num_reviews": 1707,
        "seller_id": 4866,
        "shipping_cost": 50,
        "delivery_time": "Same-day",
        "created_date": "2025-02-06T09:21:32",
        "last_updated": "2025-03-07T23:24:07",
        "tags": [
            "Premium",
            "Budget-friendly"
        ]
    },
    {
        "product_id": 3093919,
        "product_name": "Smartphone East",
        "category": "Electronics",
        "brand": "Murray Inc",
        "price": 43114.36,
        "discount": 10,
        "stock_quantity": 51,
        "stock_status": "In Stock",
        "color": "Red",
        "size": "Large",
        "weight": "12.71 kg",
        "material": "Plastic",
        "rating": 2.8,
        "num_reviews": 3862,
        "seller_id": 8914,
        "shipping_cost": 200,
        "delivery_time": "2-5 days",
        "created_date": "2025-02-20T20:56:57",
        "last_updated": "2025-03-12T15:19:00",
        "tags": [
            "Limited Edition",
            "Trending"
        ]
    }
]
2025-03-22 12:02:33,649 - INFO - customer_data_simulator.py - 8126299, David Kirk, 1973-03-21, 328 Ashley Unions
Boyleville, RI 56626
2025-03-22 12:13:18,372 - INFO - seller_data_simulator.py - 8608, Matthew greene, New Shannonview, Bahrain
2025-03-22 12:14:40,436 - INFO - customer_data_simulator.py - 3915623, Laura Hill, 1965-09-25, 48703 Wang Shoal
South Edwardchester, ND 13271
2025-03-22 12:14:55,687 - INFO - product_data_simulator.py - [
    {
        "product_id": 3421725,
        "product_name": "Smart TV Than",
        "category": "Electronics",
        "brand": "Hunt-Avery",
        "price": 7185.87,
        "discount": 20,
        "stock_quantity": 88,
        "stock_status": "In Stock",
        "color": "Black",
        "size": "Medium",
        "weight": "5.03 kg",
        "material": "Plastic",
        "rating": 2.6,
        "num_reviews": 898,
        "seller_id": 9480,
        "shipping_cost": 0,
        "delivery_time": "2-5 days",
        "created_date": "2025-03-18T04:52:05",
        "last_updated": "2025-03-18T20:55:20",
        "tags": [
            "Trending",
            "Budget-friendly"
        ]
    },
    {
        "product_id": 1857080,
        "product_name": "Laptop Anyone",
        "category": "Electronics",
        "brand": "Stanley-Meyer",
        "price": 19945.43,
        "discount": 5,
        "stock_quantity": 51,
        "stock_status": "In Stock",
        "color": "Red",
        "size": "Small",
        "weight": "2.99 kg",
        "material": "Wood",
        "rating": 4.0,
        "num_reviews": 1643,
        "seller_id": 5516,
        "shipping_cost": 50,
        "delivery_time": "2-5 days",
        "created_date": "2025-02-05T09:57:52",
        "last_updated": "2025-03-10T20:48:04",
        "tags": [
            "Trending",
            "New",
            "Premium"
        ]
    }
]
